# Configuración de Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=nokia1100
BASE_URL=/nokia1100

# Configuración de Correo (SMTP)
SMTP_HOST=
SMTP_USER=
SMTP_PASS=
SMTP_PORT=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME="Nokia 1100 System"
